<section class="skill_section">
  <div class="container">
    <div class="py-3">
      <h1 class="text-center skills_text">My Skills</h1>
    </div>
    <div class="row">
      <div class="col-md-3 mt-3">
        <div class="card card_hover">
          <img src="assets/images/logo/angular.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title text-center">Angular </h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-3">
        <div class="card card_hover">
          <img src="assets/images/logo/javascript.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title text-center">javascript </h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-3">
        <div class="card card_hover">
          <img src="assets/images/logo/typeScript.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title text-center">typeScript </h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-3">
        <div class="card card_hover">
          <img src="assets/images/logo/twitter.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title text-center">twitter </h3>
          </div>
        </div>
      </div>


    </div>
    <div class="row mt-3">
      <div class="col-md-3 mt-3">
        <div class="card card_hover">
          <img src="assets/images/logo/bootstrap.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title text-center">Git </h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-3">
        <div class="card card_hover">
          <img src="assets/images/logo/tailwind_css (2).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title text-center">javascript </h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-3">
        <div class="card card_hover">
          <img src="assets/images/logo/mysql.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title text-center">typeScript </h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-3">
        <div class="card card_hover">
          <img src="assets/images/logo/dot_net.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title text-center">twitter </h3>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>