<!-- [style.background-image]="'url("assets/images/home_bg_1")'" -->
<div class="main_section">
    <section class="home_section " style="background-image: url('assets/images/home_bg_3.jpg');">
        <div class="container">
            <div class="home_text">
                <p class="home_para">Hi, <br> I am <span class="name_home">Manjeet Malhotra</span>
                    <br>
                    Front-end <span class="name_home">&&</span> Angular Developer
                    <br>Consultant
                </p>
                <button class="btn mt-2 text-light btn-outline-warning my_btn"> Contact Me</button>
            </div>
        </div>
    </section>
</div>